
<!DOCTYPE html>
<html>

<body>


<br><br><br>
<h1>О Нас</h1>
<br>
<button style="background-position:center; position: center", class="with-delay">
  <%= link_to 'Назад', :back, class: "btn btn-mini btn-info", type: "button" %>
</button>
<p>
  Здесь в скором времени вы увидете информацию о наших продуктах!
</p>
</body>
</html>