<br><br><br><br>
<h1>Мужское Белье</h1>


<button style="background-position:center; position: center", class="with-delay">
  <%= link_to 'Назад', :back, class: "btn btn-mini btn-info", type: "button" %>
</button>


<br>
<div class="catalog">
  <div class="men_underwear">
    <a href="assets/Men1_underwear_4476_black_Dark blue_Burgundy_rose_Purple_Bright blue__Gray_Dark blue_85grn.png" data-fancybox="gallery" data-fancybox data-caption="
    Цена - 85грн на цвета: Черный, Темно-синий, Бордовый, Роза, Фиолетовый, Ярко-синий, Серый, Тёмно-синий <br> code: 4476
			"><img src="assets/Men1_underwear_4476_black_Dark blue_Burgundy_rose_Purple_Bright blue__Gray_Dark blue_85grn.png" alt="photo"/></a>
    <h3>85 грн</h3>
    <h4>code: 4476</h4>
  </div>
  <div class="men_underwear">
    <a href="assets/Men2_underwear_4480_standart_80grn.png" data-fancybox="gallery" data-fancybox data-caption="
     Цена - 80грн, цвет: стандартный<br> code: 4480
			"><img src="assets/Men2_underwear_4480_standart_80grn.png" alt="photo"/></a>
    <h3>80 грн</h3>
    <h4>code: 4480</h4>
  </div>
  <div class="men_underwear">
    <a href="assets/Men_underwear_4413_standart_120grn.png" data-fancybox="gallery" data-fancybox data-caption="
    Цена - 80грн, цвет: стандартный<br> code: 4480
			"><img src="assets/Men_underwear_4413_standart_120grn.png" alt="photo"/></a>
    <h3>120 грн</h3>
    <h4>code: 4413</h4>
  </div>
  <div class="men_underwear">
    <a href="assets/Men_underwear_4416_dark blue_85grn.png" data-fancybox="gallery" data-fancybox data-caption="
    Цена - 85грн, цвет: Темно Синий<br> code: 4416
			"><img src="assets/Men_underwear_4416_dark blue_85grn.png" alt="photo"/></a>
    <h3>85 грн</h3>
    <h4>code: 4416</h4>
  </div>

  <div class="men_underwear">
  <a href="assets/Men_underwear_4457_dark blue_120grn.png" data-fancybox="gallery" data-fancybox data-caption="
  Цена - 120грн, цвет: стандартный<br> code: 4457
  "><img src="assets/Men_underwear_4457_dark blue_120grn.png" alt="photo"/></a>
  <h3>120 грн</h3>
    <h4>code: 4457</h4>
  </div>

  <div class="men_underwear">
    <a href="assets/Men_underwear_4458_red_120grn.png" data-fancybox="gallery" data-fancybox data-caption="
  Цена - 120грн, цвет: красный<br> code: 4458
  "><img src="assets/Men_underwear_4458_red_120grn.png" alt="photo"/></a>
    <h3>120 грн</h3>
    <h4>code: 4458</h4>
  </div>

  <div class="men_underwear">
    <a href="assets/Men_underwear_4459_dark blue_120grn.png" data-fancybox="gallery" data-fancybox data-caption="
  Цена - 120грн, цвет: Тёмно синий<br> code: 4459
  "><img src="assets/Men_underwear_4459_dark blue_120grn.png" alt="photo"/></a>
    <h3>120 грн</h3>
    <h4>code: 4459</h4>
  </div>
</div>

<!--<table>-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>.</th>-->
    <!--<th>.</th>-->
    <!--<th colspan="3"></th>-->
  <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
  <!--<%# @for_men.each do |for_man| %>-->
    <!--<tr>-->
      <!--<td><%#= link_to (image_tag for_man.avatar.thumb.url), for_man %></td>-->
      <!--<td><%#= for_man.name %></td>-->
      <!--<td><%#= for_man.description %></td>-->
      <!--<td><%#= link_to 'Просмотр', for_man, class: "alert alert-info" %></td>-->
    <!--</tr>-->
  <!--<%# end %>-->
  <!--</tbody>-->
<!--</table>-->
<!--<br>-->
<!--&lt;!&ndash;<div style="background-position:center; position: center", class="with-delay">&ndash;&gt;-->
  <!--&lt;!&ndash;<%#= link_to 'Создать Новое', new_for_man_path, class: "btn btn-mini btn-warning", type: "button"%>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<br>-->