<br><br><br>
<h1>Оплата и Доставка</h1>
<button style="background-position:center; position: center", class="with-delay">
  <%= link_to 'Назад', :back, class: "btn btn-mini btn-info", type: "button" %>
</button>
<p>
  Мы осуществляем доставку товаров нашего сайта по всей Украине, через Новую Почту
</p>

<p>
  Опалата осуществялется наложным платежем или через начисления денег на карту Приватбанка
</p>