<br><br><br>
<h1>Условие обмена</h1>
<button style="background-position:center; position: center", class="with-delay">
  <%= link_to 'Назад', :back, class: "btn btn-mini btn-info", type: "button" %>
</button>
<p>
  На этой странице будут размещаться информация, об условиях обмена

</p>
