<br><br><br><br>
<%# @for_women.each do |for_woman| %>
<h1>Женские Белье</h1>
<br>
<button style="background-position:center; position: center;", class="with-delay">
  <%= link_to 'Назад', :back, class: "btn btn-mini btn-info", type: "button" %>
</button>


<br>
<div class="catalog">
  <div class="men_underwear">
    <a href="assets/Women_underwear_11255_25grn.png" data-fancybox data-caption="
    На Размеры: L-M -> Цена - 25грн
    <br>
    code: 11255
			"><img src="assets/Women_underwear_11255_25grn.png" alt="photo"/></a>
    <h3>25 грн</h3>
    <h4>code: 11255</h4>
  </div>

  <div class="men_underwear">
    <a href="assets/Women_underwear_11257_L_M_35grn.png" data-fancybox data-caption="
    На Размеры: L-M -> Цена - 35грн
    <br>
    code: 11257
			"><img src="assets/Women_underwear_11257_L_M_35grn.png" alt="photo"/></a>
    <h3>35 грн</h3>
    <h4>code: 11257</h4>
  </div>

  <div class="men_underwear">
    <a href="assets/Women_underwear_11258_L_M_35grn.png" data-fancybox data-caption="
    На Размеры: L-M -> Цена - 35грн
    <br>
    code: 11258
			"><img src="assets/Women_underwear_11258_L_M_35grn.png" alt="photo"/></a>
    <h3>35 грн</h3>
    <h4>code: 11258</h4>
  </div>

  <div class="men_underwear">
    <a href="assets/Women_underwear_11259_S_M_L_XL_40grn.png" data-fancybox data-caption="
    На Размеры: S-M-L-XL -> Цена - 40грн
    <br>
    code: 11259
			"><img src="assets/Women_underwear_11259_S_M_L_XL_40grn.png" alt="photo"/></a>
    <h3>40 грн</h3>
    <h4>code: 11259</h4>
  </div>


</div>

<br>